<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/"
	xmlns:role="http://www.sitecore.net/xmlconfig/role">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="MessageBusSample.Pipelines.Initialize.InitializeSampleMessaging, MessageBusSample" resolve="true" />
			</initialize>
		</pipelines>
	</sitecore>
</configuration>
