<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/"
	xmlns:role="http://www.sitecore.net/xmlconfig/role">
	<sitecore>
		<services>
			<configurator type="MessageBus.CM.Configuration.ServicesConfigurator, MessageBus.CM" 
			              role:require="(Standalone or ContentManagement) and !ContentDelivery"/>
		</services>
	</sitecore>
</configuration>
